@mixin commonStyle() {

  .level1,
  .level2,
  .level3,
  .level4 {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .level_tag {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #007df1;
    background: #edf4ff;
    border-radius: 2px;
    padding: 0 4px;
    margin-right: 4px;
    text-align: center;
    white-space: nowrap;
  }

  .index {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    background: #007df1;
    border-radius: 2px;
    min-width: 20px;
    padding: 0 4px;
    margin-right: 8px;
    text-align: center;
  }

  .icon_1 {
    font-size: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: #333333;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  .actived {
    transform: rotate(90deg);
  }

  .empty_table {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-size: 14px;
    line-height: 22px;
    color: #999999;

    .icon {
      font-size: 16px;
      margin-right: 6px;
    }
  }
}
